
.App {
  text-align: center;
}

#tooltip {
  visibility: hidden;
  margin-bottom: 0px;
  height: auto;
  width: auto;
}

.cell:hover {
  stroke-width: 1;
  stroke: black;
}

#container {
  margin-top: 0px;
  padding-top: 0px;
}

#legandTooltipContainer {
  display: relative;
}

#legendContainer {
  position: absolute;
  left: 10%;
}

